:root {
  --main-bg-color: rgb(246, 241, 241);
  --main-font-color: black;
  --secondary-bg-color: rgb(25, 167, 206);
  --secondary-font-color: white;
  --navbar-bg-color: rgba(25, 167, 206, 0.95);
  --navbar-font-color: white;
  --card-bg-color: white;
  --shadow-color: lightgrey;
  --accent-color: rgb(255, 198, 13);
  --accent-color2: black;
  --dummy-color: lightgrey;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: var(--main-font-color);
  background-color: var(--main-bg-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-font-color);
  transition: color 0.2s ease 0.1s;
}

a:visited {
  color: var(--main-font-color);
}

a:hover {
  color: var(--accent-color);
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
}

h3 {
  font-weight: 400;
  font-size: 1.2rem;
}

.dummy {
  color: var(--dummy-color);
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#NavBar {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 1rem;
  background-color: var(--navbar-bg-color);
}

#NavBar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#NavBar li {
  font-family: 'Ubuntu', sans-serif;
}

#NavBar li .desktop {
  display: block;
}

#NavBar li .mobile {
  display: none;
}

@media (max-width: 599px) {
  #NavBar li .desktop {
    display: none;
  }
  #NavBar li .mobile {
    display: block;
  }
}

#NavBar a {
  color: var(--navbar-font-color);
  transition: all 0.3s ease 0.1s;
}

#NavBar a:visited {
  color: var(--navbar-font-color);
}

#NavBar a:hover {
  color: var(--accent-color);
}

#NavBar li.active > a {
  color: var(--accent-color2);
}

#NavBar li.active > a:hover {
  color: var(--accent-color);
}

#Intro {
  width: 80%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
  padding: 5rem 2rem 0;
  place-items: center;
}

#Intro img {
  max-width: 300px;
}

@media (max-width: 999px) {
  #Intro {
    width: 90%;
    gap: 1rem;
    padding: 5rem 1rem 0;
  }
  #Intro img {
    margin: 2rem 0;
    max-width: 200px;
  }
}

@media (max-width: 599px) {
  #Intro {
    grid-template-columns: 1fr;
  }
  #Intro img {
    width: auto;
    margin: 0;
  }
}

#about-me {
  margin: 2rem 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--card-bg-color);
  color: var(--main-font-color);
  box-shadow: 0.25rem 0.25rem 0.5rem var(--shadow-color);
}

@media (max-width: 999px) {
  #about-me {
    margin: 0;
    padding: 2rem 2rem 1.5rem;
  }
}

#about-me > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul.panel {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
}

ul.panel li, ul.panel li > a {
  display: grid;
  place-items: center;
}

svg {
  font-size: 1.4rem;
}

#Skills {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
  gap: 2rem;
  padding: 4rem 2rem 0;
  place-items: center;
  font-family: 'Ubuntu';
}

@media (max-width: 599px) {
  #Skills {
    gap: 1rem;
    padding: 4rem 1rem 0;
  }
}

#Skills ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
  gap: 2rem;
}

#Skills li {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 0.25rem;
  place-items: center;
}

#Skills svg {
  width: 3rem !important; 
  height: 3rem !important;
}

#Skills svg.dummy {
  padding: 0.75rem;
}

#Skills li p {
  text-align: center;
}

#Works {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
  gap: 2rem;
  padding: 4rem 2rem 2rem;
  place-items: center;
}

@media (max-width: 599px) {
  #Works {
    gap: 1rem;
    padding: 4rem 1.5rem 1rem;
  }
}

.display-board {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1.5rem;
}

@media (max-width: 999px) {
  .display-board {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 599px) {
  .display-board {
    grid-template-columns: 1fr;
  }
}

.project {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--card-bg-color);
  background-color: var(--card-bg-color);
  color: var(--main-font-color);
  box-shadow: 0.2rem 0.2rem 0.4rem var(--shadow-color);
}

.project img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: top;
  place-self: center;
}

@media (max-width: 599px) {
  .project img {
    height: 250px;
  }
}

.project > div {
  background-color: var(--card-bg-color);
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  padding: 1rem 1.2rem 1.5rem;
}

.project .header {
  display: grid;
  grid-template-columns: 1fr auto;
}

.project svg {
  font-size: 1.2rem;
}

.project p {
  font-size: 0.9rem;
}

.project .skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.project .skills svg {
  width: 1.4rem !important;
  height: 1.4rem !important;
}

#Contact {
  width: 100%;
  margin-top: 2rem;
  display: grid;
  place-items: center;
  background-color: var(--secondary-bg-color);
  color: var(--secondary-font-color);
}

#Contact > div {
  max-width: 1200px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 2rem;
  padding: 2rem;
}

#Contact a {
  color: var(--secondary-font-color);
}

#Contact a:visited {
  color: var(--secondary-font-color);
}

#Contact a:hover {
  color: var(--accent-color);
}

#Contact ul.panel {
  justify-content: center;
}

@media (max-width: 599px) {
  #Contact > div {
    gap: 1.5rem;
    padding: 2rem 1.5rem 2rem;
  }
}

#Footer {
  background-color: var(--secondary-bg-color);
  color: var(--secondary-font-color);
  font-size: 0.8rem;
  font-style: italic;
  padding: 0.5rem;
  display: grid;
  place-items: center;
}

#Footer a {
  color: var(--secondary-font-color);
}

#Footer a:visited {
  color: var(--secondary-font-color);
}

#Footer a.desktop,
#Footer a.mobile {
  display: block;
}

#Footer a.tablet {
  display: none;
}

@media (min-width: 600px) and (max-width: 999px) {
  #Footer a.desktop,
  #Footer a.mobile {
    display: none;
  }
  #Footer a.tablet {
    display: block;
  }
}
