* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#NavBar {
  width: 100%;
  position: sticky;
  top: 0;
  padding: 1rem;
  background-color: rgba(120, 120, 120, 0.8);
}

#NavBar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

#Intro {
  width: 80%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  padding: 2rem;
  place-items: center;
}

@media (max-width: 999px) {
  #Intro {
    width: 90%;
  }
  #Intro img {
    margin: 2rem 0;
    max-width: 200px;
  }
}

@media (max-width: 599px) {
  #Intro {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
  #Intro img {
    width: auto;
    margin: 0;
  }
}

#about-me {
  margin: 2rem 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
  padding: 2rem;
  border: 1px solid black;
}

@media (max-width: 999px) {
  #about-me {
    margin: 0;
    height: 100%;
  }
}

ul.panel {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
}

#Skills {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
  gap: 2rem;
  padding: 2rem;
  place-items: center;
}

@media (max-width: 599px) {
  #Skills {
    gap: 1rem;
    padding: 1rem;
  }
}

#Skills ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  gap: 1rem;
}

#Skills li {
  display: grid;
  grid-template-rows: auto auto;
  gap: 0.2rem;
  justify-items: center;
}

#Skills li p {
  text-align: center;
}

#Works {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
  gap: 2rem;
  padding: 2rem;
  place-items: center;
}

@media (max-width: 599px) {
  #Works {
    gap: 1rem;
    padding: 1rem;
  }
}

.display-board {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1.5rem;
}

@media (max-width: 999px) {
  .display-board {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 599px) {
  .display-board {
    grid-template-columns: 1fr;
  }
}

.project {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: lightgrey;
  border: 1px solid black;
}

.project img {
  width: 100%;
  place-self: center;
}

.project > div {
  background-color: white;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  padding: 1rem 1rem 1.5rem;
}

.project .header {
  display: grid;
  grid-template-columns: 1fr auto;
}

#Contact {
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 2rem;
  padding: 2rem;
  background-color: lightgrey;
  margin-top: 2rem;
}

@media (max-width: 599px) {
  #Contact {
    gap: 1rem;
    padding: 1rem;
    margin-top: 1rem;
  }
}
